* {
    box-sizing: border-box;
    margin: 0;
    }
    body {
    font-family: sans-serif;
    }
    header {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 20px;
    }
    nav {
    float: left;
    background-color: gold;
    width: 30%;
    height: 300px;
    padding: 20px;
    }
    article {
    background-color: whitesmoke;
    float: left;
    width: 70%;
    padding: 20px;
    }
    aside {
    clear: both;
    background-color: skyblue;
    }
    footer {
    background: #222;
    color: #eee;
    text-align: center;
    padding: 0.5em;
    font-size: 0.9em;
    }